RewriteEngine On

RewriteRule ^api/([0-9a-zA-Z]+)/([0-9a-zA-Z]+) api.php?c=$1&a=$2
RewriteRule ^api/([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/([0-9a-zA-Z]+) api.php?c=$1&a=$2&id=$3

RewriteRule ^([0-9a-zA-Z]+)/([0-9a-zA-Z]+) index.php?c=$1&a=$2
RewriteRule ^([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/([0-9a-zA-Z]+) index.php?c=$1&a=$2&id=$3

#Para depurar
#&XDEBUG_SESSION_START=PHPSTORM
